/*-------------------------------------- 
-------- Elizabeth Velasquez
-------- Web Development Portfolio
-------- 10/2015 
-------- #109CCD
--------------------------------------*/

/*-------------------------------------- 
-------- Reset 
--------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*-------------------------------------- 
-------- Fonts 
--------------------------------------*/

@font-face {
    font-family: 'CubanoRegular';
    src: url('./fonts/cubano-regular-webfont.eot');
    src: url('./fonts/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/cubano-regular-webfont.woff') format('woff'),
         url('./fonts/cubano-regular-webfont.ttf') format('truetype'),
         url('./fonts/cubano-regular-webfont.svg#CubanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff2') format('woff2'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*-------------------------------------- 
-------- General 
--------------------------------------*/
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color: #333;
    font-family: 'open_sanslight';
    line-height: normal;
}
.clear{clear: both;}

::selection {
  background: #109CCD; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #109CCD; /* Gecko Browsers */
color: #fff;
}

/*-------------------------------------- 
-------- Layout 
--------------------------------------*/

.half{
	display: block;
	float: left;
	width: 50%;
}

.whole-section{
	display: block;
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 0 15px;
}
.content-area{
	padding-left: 10px;
	margin: 80px 0;
	display: block;
}

.title-section {
    display: block;
    width: 100%;
    background-color: #109CCD;
    height: 15px;
    margin: 30px 0;
}
header .title-section {margin-bottom: 50px;}


header .title-section {
	height: auto;
}

.header-title-section,
h2 {
    display: inline-block;
    width: auto;
    padding: 0 10px;
    background-color: #fff;
    margin: -5px 0;
    font-size: 20px;
}


.header-title-section {
    float: right;
}


/*-------------------------------------- 
-------- header 
--------------------------------------*/
h1 a {text-decoration: none;}
.name{
	display: block;
	font-size: 29px;
}
.liz,
.dev,
h3 a{
	font-size: 24px;
    font-family: 'CubanoRegular';
	color: #109CCD;
	text-decoration: none;
}
.hey{
    font-family: 'CubanoRegular';
	color: #ffff4c;
	text-decoration: none;
}
.hey.lo{
	font-size: 55px;
}
.hey.llo{
	font-size: 45px;
	opacity: .7;
}.hey.lllo{
	font-size: 25px;
	opacity: .4;
}

.dev{
	font-size: 20px;
}

ul.primary-nav li{
	display: inline-block;
	padding: 15px 5px;
	}
ul.primary-nav li a{
	text-decoration: none;
}
ul.primary-nav li a:hover{
	color: #d4d4d4;
}


/*-------------------------------------- 
-------- portfolio 
--------------------------------------*/
.project{
	margin: 45px 0;
	clear: both;
	display: block;
}

.project img, .fotorama__stage__frame{
	border: solid 4px #109CCD;
}

.txt-space{padding: 0 15px;}


ul.tech li{
	font-size: 20px;
	color: #d4d4d4;
	font-weight: 100;
	}
ul.tech{
	margin-bottom: 30px;
}

.description{
	font-size: 14px;
	margin-top: 20px;
}




/*-------------------------------------- 
-------- Footer 
--------------------------------------*/
#copyright{
	font-size: 12px;
	padding: 50px 0;
	display: block;
	clear: both;
	}
.disclaimer{font-size: 10px;}


/*-------------------------------------- 
-------- Responsive 
--------------------------------------*/

@media (max-width: 800px){
	.half{
		width: 100%;
		float: none;
	}
	
	.project { margin: 65px 0; }
	
	ul.tech{ margin: 10px 0; }
	
	ul.tech li{
		display: inline;
		padding: 10px;
		font-size: 16px;
	}
	
	ul.tech li:first-child{ padding: 0; }
}